<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/categorie.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap" rel="stylesheet">
    <title>FITSCORE | Your ultimate stat home!</title>
</head>

<body>

    <header class='wrapper-header'>
        <a href="home.html" class="header-logo"><img src="img/Logo-Wilgen-Training.png" alt="brand" class="logo"></a>
        <h1 class= "header-title">KIES CATEGORIE</h1>
        <nav class="navigation">
            <a href="home.html" class="button header-button">Terug</a>
        </nav>
    </header>

    <main class="wrapper-main">
        <div class="draaibox">
            <a href="kracht.html">
            <img src="./img/kracht_w.png" class="draaibox-image">
            <h1 class="draaibox-naam">Kracht</h1>
            </a>
        </div>

        <div class="draaibox">
            <a href="./HTML_CARDIO/cardio.html">
            <img src="img/cardio_w.png" class="draaibox-image">
            <h1 class="draaibox-naam">Cardio</h1>
            </a>
        </div>

        <div class="draaibox">
            <a href="gymnastics.html">
            <img src="img/gymnastics_w.png" class="draaibox-image">
            <h1 class="draaibox-naam">Skills</h1>
            </a>
        </div>

        <div class="draaibox">
            <a href="wod.html">
            <img src="img/wods_w.png" class="draaibox-image">
            <h1 class="draaibox-naam">Wods</h1>
            </a>
        </div>

    </main>    
</body>
</html>