<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{'/exercise/' + ${exercise.id} +'/' +${selectedUser.id} }">view</a>

<div>
    <span th:text="${selectedUser.id}" th:remove="tag" >title<</span>


</div>
<div>
<span th:text="${exercise.id}" th:remove="tag" >title<</span>
</div>

<div>
    <form method="POST" th:action="@{/exercise/newFact}" th:object="${exerciseFact}">

        <input type="text" th:field="*{score}" required placeholder="Score"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('score')}"
              th:errors="*{score}">Score error</span>

        <input type="submit" value="SCORE TOEVOEGEN" class="button gridspan"/>
    </form>
</div>


</body>
</html>