<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>FitBook | Accounts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/exerciseForm.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap" rel="stylesheet">
</head>

<header class='wrapper-header'>
    <a href="/" class="header-logo"><img src="../static/images/Logo-Wilgen-Training.png" alt="brand" class="logo"></a>
    <h1 class="header-title" th:text="${selectedUser.name} +', kies je score voor ' + ${selectedExercise.name}"></h1>
    <nav class="navigation">
        <a href="/" class="button header-button">TERUG</a>
    </nav>
</header>

<body>
<main class="wrapper-main">
    <div id="chart_div"></div>

    <div id="score_form">
        <body>
        <form id="scoreForm" method="POST" th:action="@{/exercise/newFact}" th:object="${exerciseFact}">
            <input type="number" th:field="*{score}" th:placeholder="'Score (' + ${selectedExercise.measuringUnit}+')'" max="10000"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('score')}"
                  th:errors="*{score}">Score error</span>
            <input type="submit" value="SCORE TOEVOEGEN" class="button gridspan"/>
        </form>

        </body>
    </div>

    <div id="score_table">
        <form method="GET" th:action="@{/exercise/deleteFact/}">
            <table>
                <th>Datum</th>
                <th th:text="'Score (' + ${selectedExercise.measuringUnit}+')'">Score</th>
                <tr data-th-each="exerciseFact : ${exerciseFacts}">
                    <td data-th-text="${exerciseFact.date}"></td>
                    <td data-th-text="${exerciseFact.score}"></td>
                    <td>
                        <input type="checkbox" th:name="exerciseFactId" th:value="${exerciseFact.id}"/></td>
                </tr>
            </table>
        </form>
    </div>

    <script th:inline="javascript" type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript" type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        const measuringUnit = [[${selectedExercise.measuringUnit}]];
        const exerciseFacts = [[${exerciseFacts}]];
        const exerciseScores = [["string", "Score"], ...exerciseFacts.map(({date, score}) => {
            return [date, score];
        })];

        if (exerciseFacts.length !== 0) {
            google.charts.setOnLoadCallback(drawChart);
        }

        function drawChart() {
            const dataTable = google.visualization.arrayToDataTable(exerciseScores);

            const options = {
                title: 'Jouw Performance',
                titleTextStyle: {color: '#FFFFFF'},
                backgroundColor: 'transparent',
                areaOpacity: 0.8,
                colors: ['rgb(243, 156, 18)'],
                hAxis: {
                    title: 'Datum',
                    titleTextStyle: {color: '#FFFFFF'},
                    textStyle: {color: '#FFFFFF'}
                },
                vAxis: {
                    title: 'Score ('+measuringUnit+')',
                    minValue: 0,
                    titleTextStyle: {color: '#FFFFFF'},
                    textStyle: {color: '#FFFFFF'}
                }
            };

            const chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(dataTable, options);
        }
    </script>
</main>
</body>
</html>


