<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>show groups</title>
</head>
<body>
<h1>Kies je groep:</h1>
<div class="grid">
    <div class="ingredient-group" id="monday">
        <h2>Maandag:</h2>
        <div th:each="group : ${monday}">
            <input name="hours" type="checkbox" th:value="${hour}"/>
            <span th:text="${group.hourTime}">hourTime</span><br/>
        </div>
    </div>

    <div class="ingredient-group" id="tuesday">
        <h2>Dinsdag:</h2>
        <div th:each="group : ${tuesday}">
            <input name="hours" type="checkbox" th:value="${hour}"/>
            <span th:text="${group.hourTime}">hourTime</span><br/>
        </div>
    </div>

</div>
</body>
</html>