<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/categorie.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap" rel="stylesheet">
    <title>FITSCORE | Your ultimate stat home!</title>
</head>
<header class='wrapper-header'>
    <a href="/" class="header-logo"><img src="../static/images/Logo-Wilgen-Training.png" alt="brand" class="logo"></a>
    <h1 class="header-title">KIES DE USER</h1>
    <nav class="navigation">
        <a href="/" class="button header-button">Terug</a>
    </nav>
</header>
<main class="wrapper-main">
<body>
<div>
    <div th:each="user : ${users}" class="draaibox">
        <a th:href="@{'/exercise/' + ${user.id}+'/categories'}">
            <img src="../static/images/avatar 1.png" class="draaibox-image">
            <h1 th:text="${user.toString()}" class="draaibox-naam"></h1>
        </a>
    </div>
</div>
</body>
</main>
</html>