<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <title>New User form</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>

<form method="POST" th:action="@{/user/new}" th:object="${user}">
    <h1>Fill in your details</h1>
    <a th:href="@{/user/new}" id="another">Create another user</a><br/>

    <h2>Please enter data your here: </h2>
    <label for="naam"> Naam: </label>
    <input type="text" th:field="*{naam}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('naam')}"
          th:errors="*{naam}">Naam error</span>

    <br/>

    <label for="gebruikersnaam"> Gebruikersnaam: </label>
    <input type="text" th:field="*{gebruikersnaam}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('gebruikersnaam')}"
          th:errors="*{gebruikersnaam}">gebruikersnaam error</span>
    <br/>

    <label for="geboortedatum"> Geboortedatum: </label>
    <input type="text" th:field="*{geboortedatum}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('geboortedatum')}"
          th:errors="*{geboortedatum}">Geboortedatum error</span>

    <br/>

    <label for="email"> E-mail: </label>
    <input type="text" th:field="*{email}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}">Email error</span>

    <br/>

    <label for="lengte"> Length: </label>
    <input type="text" th:field="*{lengte}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('lengte')}"
          th:errors="*{lengte}">lengte error</span>
    <br/>

    <label for="gewicht"> Gewicht: </label>
    <input type="text" th:field="*{gewicht}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('gewicht')}"
          th:errors="*{gewicht}">Gewicht error</span>
    <br/>

    <label for="telefoonnummer"> Telefoonnummer: </label>
    <input type="text" th:field="*{telefoonnummer}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('telefoonnummer')}"
          th:errors="*{telefoonnummer}">Telefoonnummer error</span>
    <br/>


    <input type="submit" value="Create user"/>

</form>
</body>
</html>