/* BASICS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 62,5%;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.hlr {
  border: 2px solid red;
}

.hlb {
  border: 2px solid blue;
}

/* COLORS */
/* ICONS */
/* BODY */
body {
  height: 100vh;
  overflow: hidden;
  background-color: #222;
  background-image: url("../img/background2.jpg");
  background-size: cover;
  color: white;
}

/* WRAPPERS */
.wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 5%;
  border-bottom: 2px solid #2980b9;
  -webkit-box-shadow: 0 10px 80px rgba(0, 0, 0, 0.7);
          box-shadow: 0 10px 80px rgba(0, 0, 0, 0.7);
  position: relative;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  height: 10vh;
  min-height: 80px;
}

.wrapper-header .header-title {
  letter-spacing: 2px;
  font-size: 3rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.wrapper-header .header-logo {
  width: 270px;
  text-align: left;
}

.wrapper-header .header-button {
  width: 270px;
  margin-top: 18px;
}

.wrapper-main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  padding: 40px 10px;
  height: 90vh;
}

.wrapper-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* BUTTON */
.button {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#2980b9), to(#035992));
  background: linear-gradient(to right, #2980b9, #035992);
  padding: 1em 2em;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border: 1px solid #2980b9;
  overflow: visible;
  margin: 10px 20px 0 20px;
}

.button:hover,
.button:focus {
  background: -webkit-gradient(linear, left top, right top, from(#2980b9), color-stop(#035992), to(#023b61));
  background: linear-gradient(to right, #2980b9, #035992, #023b61);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.btn-header {
  margin-top: 10px;
}

/* DRAAIBOX */
.draaibox {
  background: -webkit-gradient(linear, left top, right top, from(rgba(41, 128, 185, 0.4)), to(rgba(3, 89, 146, 0.4)));
  background: linear-gradient(to right, rgba(41, 128, 185, 0.4), rgba(3, 89, 146, 0.4));
  width: 200px;
  height: 320px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px solid #2980b9;
}

.draaibox:hover,
.draaibox:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s;
  transition: .5s;
}

.draaibox:hover .draaibox-naam {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.draaibox:hover .draaibox-image {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.draaibox-naam {
  font-weight: bold;
  margin: 1em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-weight: 300;
  color: #fff;
}

.draaibox-image {
  border-radius: 50%;
  width: 100%;
  padding: 1em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
  .wrapper-main {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .header-title {
    display: none;
  }
}

@media (max-width: 600px) {
  .wrapper-main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=home.css.map */