<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FitBook | Groepen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{../static/css/home.css" rel="stylesheet}">
    <link th:href="@{https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap}" rel="stylesheet">
</head>
<body>

    <header class='wrapper-header'>
        <a href="../templates/home.html" class="header-logo"><img src="../static/images/Logo-Wilgen-Training.png" alt="brand" class="logo"></a>
        <h1 class= "header-title">KIES JE GROEP</h1>
        <nav class="navigation">
            <a th:href="@{/}" href="../templates/home.html" id="newUser" class="button">TERUG</a>
        </nav>
    </header>

    <main class="main-wrapper">

    <div class="ingredient-group" id="monday">
        <div>Maandag:</div>
        <div th:each="group : ${monday}">
            <input name="hours" type="checkbox" th:value="${hour}"/>
            <span th:text="${group.hourTime}">hourTime</span><br/>
        </div>
    </div>

    <div class="ingredient-group" id="tuesday">
        <div>Dinsdag:</div>
        <div th:each="group : ${tuesday}">
            <input name="hours" type="checkbox" th:value="${hour}"/>
            <span th:text="${group.hourTime}">hourTime</span><br/>
        </div>
    </div>

    <div class="ingredient-group" id="wednesday">
        <div>Woensdag:</div>
        <div th:each="group : ${wednesday}">
            <input name="hours" type="checkbox" th:value="${hour}"/>
            <span th:text="${group.hourTime}">hourTime</span><br/>
        </div>
    </div>

    <div class="ingredient-group" id="thursday">
        <div>Donderdag:</div>
        <div th:each="group : ${thursday}">
            <input name="hours" type="checkbox" th:value="${hour}"/>
            <span th:text="${group.hourTime}">hourTime</span><br/>
        </div>
    </div>

    <div class="ingredient-group" id="friday">
        <div>Vrijdag:</div>
        <div th:each="group : ${friday}">
            <input name="hours" type="checkbox" th:value="${hour}"/>
            <span th:text="${group.hourTime}">hourTime</span><br/>
        </div>
    </div>

    <div class="ingredient-group" id="saturday">
        <div>Zaterdag:</div>
        <div th:each="group : ${saturday}">
            <input name="hours" type="checkbox" th:value="${hour}"/>
            <span th:text="${group.hourTime}">hourTime</span><br/>
        </div>
    </div>

    <div class="ingredient-group" id="sunday">
        <div>Zondag:</div>
        <div th:each="group : ${sunday}">
            <input name="hours" type="checkbox" th:value="${hour}"/>
            <span th:text="${group.hourTime}">hourTime</span><br/>
        </div>
    </div>
</main>

</body>
</html>